#page_content {
    margin: auto;
    padding: 5vmax;
}

#bins {
    display: block;
    margin: auto;
}

#item {
    display: block;
    margin: auto;
    padding: 0.5vmax;
}

dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

dialog {
    border-radius: 6px;
}

#start_button {
    display: block;
    margin: auto;
    font-size: large;
}

p {
    font-size: large;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: whitesmoke;
}